<%= form_with(model: [@post, @post.comments.build]) do |form| %>
  <%
=begin%>
 <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%
=end%>

  <div>
    <%= form.label :name, style: "display: block" , class: "form-label"%>
    <%= form.text_field :name , class: "form-control"%>
  </div>

  <div>
    <%= form.label "Comment", style: "display: block" , class: "form-label"%>
    <%= form.text_area :body , class: "form-control"%>
  </div>

  <div>
    <%= form.submit  class: "btn btn-primary my-3"%>
  </div>
<% end %>
